/* *{
    scroll-behavior: smooth;
} */
body {
    overflow: hidden;
    height: 100vh;
    background: #cfd4e1;
    transition: all .2s ease-in-out;
    display: flex;
}
.letter-image {
    position: relative;
    top: 60%;
    left: 55%;
    width: 500px;
    height: 300px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.animated-mail {
    position: absolute;
    height: 300px;
    width: 500px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;

    .body {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 250px 500px;
        border-color: transparent transparent #e95f55 transparent;
        z-index: 2;
    }

    .top-fold {
        position: absolute;
        top: 50px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 150px 250px 0 250px;
        -webkit-transform-origin: 50% 0%;
        -webkit-transition: transform .4s .4s, z-index .2s .4s;
        -moz-transform-origin: 50% 0%;
        -moz-transition: transform .4s .4s, z-index .2s .4s;
        transform-origin: 50% 0%;
        transition: transform .4s .4s, z-index .2s .4s;
        border-color: #cf4a43 transparent transparent transparent;
        z-index: 2;
    }

    .back-fold {
        position: absolute;
        bottom: 0;
        width: 500px;
        height: 250px;
        background: #cf4a43;
        z-index: 0;
    }

    .left-fold {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 125px 0 125px 250px;
        border-color: transparent transparent transparent #e15349;
        z-index: 2;
    }

    .letter {
        left: 20px;
        bottom: 0px;
        position: absolute;
        width: 450px;
        height: 60px;
        background: white;
        z-index: 1;
        overflow: hidden;
        -webkit-transition: .4s .2s;
        -moz-transition: .4s .2s;
        transition: .4s .2s;

        .letter-border {
            height: 10px;
            width: 100%;
            background: repeating-linear-gradient(-45deg,
                    #cb5a5e,
                    #cb5a5e 8px,
                    transparent 8px,
                    transparent 18px);
        }

        .letter-title {
            margin-top: 10px;
            margin-left: 5px;
            height: 10px;
            width: 40%;
            background: #F1948A;
        }

        .letter-context {
            margin-top: 10px;
            margin-left: 5px;
            height: 10px;
            width: 20%;
            background: #F1948A;
        }

        /* .lettername{
            margin-top: 50px;
            margin-left: 25px;
            width: 150px;
            font-size: 50px;
        } */

        .letter-stamp {
            margin-top: 30px;
            margin-left: auto;
            margin-right: 20px;
            border-radius: 100%;
            height: 210px;
            width: 210px;
            background: #F1948A;
            opacity: 1;

            .stamp-image {
                margin: 10px;
                border-radius: 100%;
                height: 190px;
                width: 190px;
                opacity: 1;
            }
        }
    }
}

.shadow {
    position: absolute;
    top: 120%;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: .4s;
    transform: translateX(-50%);
    -webkit-transition: .4s;
    -webkit-transform: translateX(-50%);
    -moz-transition: .4s;
    -moz-transform: translateX(-50%);

    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

.letter-image:not(:hover){
    .animated-mail {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
    }

    .animated-mail .top-fold {
        transition: transform .4s, z-index .2s;
        transform: rotateX(180deg);
        -webkit-transition: transform .4s, z-index .2s;
        -webkit-transform: rotateX(180deg);
        -moz-transition: transform .4s, z-index .2s;
        -moz-transform: rotateX(180deg);
        z-index: 0;
    }

    .animated-mail .letter {
        height: 600px;
    }

    .shadow {
        width: 250px;
    }
}

.message {
    font-size: 25px;
    --height: 35px;
    height: var(--height);
    line-height: var(--height);
    min-height: var(--height);
    text-shadow: 3px 1px 3px #e39cb0;
}

.slides {
    display: inline-flex;
    height: var(--height);
    overflow: hidden;
    padding: 0 5px;
    margin: 0 -5px;
}

.slides1 {
    color: #da2aa6;
    display: flex;
    flex-flow: column nowrap;
    transform: translateY(100%);
    animation: slide-up 5s ease infinite;
}

@keyframes slide-up {

    10%,
    33% {
        transform: translateY(0%);
    }

    43%,
    66% {
        transform: translateY(-100%);
    }

    76%,
    100% {
        transform: translateY(-200%);
    }
}

.sidebar {
    /* position: -webkit-sticky; */
    position: fixed;
    width: 20%;
    height: 100vh;
    background: #312450;
    font-size: 0.70em;
    z-index: 10;
    top: 0;
    left: 0;
}

ul{
    padding-left: 5rem;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.nav ul {
    list-style: none;

    li {
        position: relative;
        margin: 3.2em 0;

        a {
            line-height: 5em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgba(#FFF, 0.35);
            display: block;
            transition: all ease-out 300ms;
        }

        &.active a {
            color: white;
        }

        &:not(.active)::after {
            opacity: 0.2;
        }

        &:not(.active):hover a {
            color: rgba(#FFF, 0.75);
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2em;
            background: black;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to right, #5e42a6, #b74e91)
        }
    }
}